<!DOCTYPE HTML>
<html>
<head>
<title>搜索兑换码</title>
<!-- Custom Theme files -->
<link href="/template/front/searchgift/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Flat Search Box Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
</head>
<body>
<!--search start here-->
<div class="search">
	<i> </i>
	<div class="s-bar">
	   <form action="/searchgift.jhtml" method="post">
		<input type="text" name="phone" value="输入电话号码查询兑换码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入电话号码搜索';}">
		<input type="submit"  value="查询"/>
	  </form>
	</div>
	<p style="font-size: 20px;font-weight: bold;">
		<#if code??>搜索结果：号码 ${code.phone} 兑换码 ${code.code} <#if code.isGrant><font color="red">已发放</font><#else><a href="/grantgift.jhtml?phone=${code.phone}">发放</a></#if><#else>没有找到该号码</#if>
	</p>
</div>
<!--search end here-->	
<div class="copyright">
	 <p>2017 &copy Flat Search Box All rights reserved | 点击传送到  <a href="/wxhome.jhtml" target="_blank">  首页 </a></p>
</div>	
</body>
</html>