#app-header {
    background-image: -moz-linear-gradient(center top , #4A5366, #343B48);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4A5366), to(#343B48)); 
  	background-image: -webkit-linear-gradient(center top , #4A5366, #343B48);  
  	background-image: -o-linear-gradient(center top , #4A5366, #343B48);  
  	background-image: -ms-linear-gradient(center top , #4A5366, #343B48);  
  	background-image: linear-gradient(center top , #4A5366, #343B48); 
    border-bottom: 1px solid #1F232B;
}
#app-header-title {
    color: #FFFFFF;
    background: url("../../resources/default/images/logo.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
    background-position: 10px 2px;
    font-size: 20px !important;
    padding: 10px 10px 10px 60px;
    font-family: Arial,Helvetica,sans-serif,"ו" !important;
    font-weight: bold !important;
}

.logout {
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 250px;
	padding-left: 20px;
	padding-top: 2px;
	height: 25px;
	display: block;
	background:url("../../resources/default/images/logout.png") no-repeat;
	background-position: 0 4px;
	line-height:25px;
}

.user {
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 20px;
	padding-left: 20px;
	padding-top: 2px;
	height: 25px;
	display: block;
	background:url("../../resources/default/images/admin.png") no-repeat;
	background-position: 0 4px;
	line-height:25px;
}

#app-footer {
    background-image: -moz-linear-gradient(center top , #4A5366, #343B48);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4A5366), to(#343B48)); 
  	background-image: -webkit-linear-gradient(center top , #4A5366, #343B48);  
  	background-image: -o-linear-gradient(center top , #4A5366, #343B48);  
  	background-image: -ms-linear-gradient(center top , #4A5366, #343B48);  
  	background-image: linear-gradient(center top , #4A5366, #343B48); 
}

.systemtime {
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 20px;
	padding-left: 20px;
	height: 25px;
	display: block;
	background:url("../../resources/default/images/clock.png") no-repeat;
	background-position: 0 4px;
	line-height:25px;
}

#app-clock {
	color: #FFFFFF;
	margin-left: -40px;
}