#app-header {
    background-image: -moz-linear-gradient(center top , #F3F6FC, #CBDAF0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F3F6FC), to(#CBDAF0)); 
  	background-image: -webkit-linear-gradient(center top , #F3F6FC, #CBDAF0);  
  	background-image: -o-linear-gradient(center top , #F3F6FC, #CBDAF0);  
  	background-image: -ms-linear-gradient(center top , #F3F6FC, #CBDAF0);  
  	background-image: linear-gradient(center top , #F3F6FC, #CBDAF0);  
    border-bottom: 1px solid #A3BDE5;
}
#app-header-title {
    color: #04408C;
    background: url("../../resources/default/images/logo.png") no-repeat scroll 0px 0px rgba(0, 0, 0, 0);
    background-position: 10px 2px;
    font-size: 20px !important;
    padding: 10px 10px 10px 60px;
    font-family: Arial,Helvetica,sans-serif,"ו" !important;
    font-weight: bold !important;
}

.logout {
	color: #04408C;
	text-decoration: none;
	margin-right: 250px;
	padding-left: 20px;
	height: 25px;
	display: block;
	background:url("../../resources/default/images/logout.png") no-repeat;
	background-position: 0 4px;
	line-height:25px;
}

.user {
	color: #04408C;
	text-decoration: none;
	margin-right: 20px;
	padding-left: 20px;
	height: 25px;
	display: block;
	background:url("../../resources/default/images/admin.png") no-repeat;
	background-position: 0 4px;
	line-height:25px;
}

#app-footer {
	background-image: -moz-linear-gradient(center top , #F3F6FC, #CBDAF0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F3F6FC), to(#CBDAF0)); 
  	background-image: -webkit-linear-gradient(center top , #F3F6FC, #CBDAF0);  
  	background-image: -o-linear-gradient(center top , #F3F6FC, #CBDAF0);  
  	background-image: -ms-linear-gradient(center top , #F3F6FC, #CBDAF0);  
  	background-image: linear-gradient(center top , #F3F6FC, #CBDAF0);  
}

.systemtime {
	color: #04408C;
	text-decoration: none;
	margin-right: 20px;
	padding-left: 20px;
	height: 25px;
	display: block;
	background:url("../../resources/default/images/clock.png") no-repeat;
	background-position: 0 4px;
	line-height:25px;
}

#app-clock {
	color: #04408C;
	margin-left: -40px;
}