<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>我的评价</title>
		<meta name="description" content="based on widget boxes with 2 different styles" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="../common/ace/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="../common/ace/assets/css/font-awesome.css" />
		<link rel="stylesheet" href="../common/ace/assets/css/ace-fonts.css" />
		<link rel="stylesheet" href="../common/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		
		<link rel="stylesheet" href="/template/front/css/weui.min.css" />
		<link rel="stylesheet" href="/template/front/css/jquery-weui.css" />
		<link rel="stylesheet" href="/template/front/css/demos.css" /> 
		<script type="text/javascript" src="/template/front/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/template/front/js/jquery-weui.js"></script>
		<script type="text/javascript" src="/template/front/js/swiper.js"></script>
	</head>

	<body class="no-skin">
		<div class="weui-pull-to-refresh-layer">
	       <div class="pull-to-refresh-arrow"></div>
	       <div class="pull-to-refresh-preloader"></div>
	       <div class="down">下拉刷新</div>
	       <div class="up">释放刷新</div>
	       <div class="refresh">正在刷新</div>
	    </div>
	    <div class="weui_cells_title"></div>
		<div class="main-container" id="main-container">
			<div class="main-content">
				<div class="main-content-inner">
					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">
								<div id="timeline-2">
									<div class="row">
											<!-- /section:pages/timeline.style2 -->
											<#if orders?size gt 0>
											<#list orders as l>
												<#if l.evaluat gt 0>
												<div class="timeline-container timeline-style2">
													<span class="timeline-label">
														<b>订单号：${l.ordernumber}</b>
													</span>
													<div class="timeline-items">
														<div class="timeline-item clearfix">
															<div class="timeline-info">
																<span class="timeline-date" style="font-size: 13px"><#if evaluats?size gt 0><#list evaluats as ll><#if ll_index == 0>${ll.createDate?date}</#if></#list></#if></span>
																<span class="timeline-date" style="font-size: 13px"><#if evaluats?size gt 0><#list evaluats as ll><#if ll_index == 0>${ll.createDate?time}</#if></#list></#if></span>
																<i class="timeline-indicator btn btn-success no-hover"></i>
															</div>
	
															<div class="widget-box transparent">
																<div class="widget-body">
																	<div class="widget-main no-padding">
																		<div class="clearfix">
																			<#list evaluats as ll>
																				<#if l.id=ll.orders>
																					<#if ll.type==0>
																					<div class="pull-left">
																						<span>${ll.name}　</span>
																						<#list 1..ll.value?number as i>
																							<font color="#feb902">★</font>
																						</#list>
																					</div></br>
																					</#if>
																					<#if ll.type==2>
																						${ll.value}
																					</#if>
																				</#if>
																			</#list>
																			<div class="pull-right">
																				<!-- <i class="ace-icon fa fa-chevron-left blue bigger-110"></i>&nbsp; -->
																				<#list evaluats as ll>
																					<#if l.id=ll.orders && ll.type==1>
																						<img alt="Image 4" width="50" src="${ll.value}" onclick="openImg(this);"/>
																					</#if>
																				</#list>
																				<!-- &nbsp;<i class="ace-icon fa fa-chevron-right blue bigger-110"></i> -->
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div><!-- /.timeline-items -->
												</div><!-- /.timeline-container -->
											    </#if>
											</#list>
											<#else>
												<div class="weui_msg">
											      <div class="weui_icon_area"><i class="weui_icon_msg weui_icon_warn"></i></div>
											      <div class="weui_text_area">
											        <h2 class="weui_msg_title">实在对不起</h2>
											        <p class="weui_msg_desc">系统没有找到您的评价！</p>
											      </div>
											      <div class="weui_opr_area">
											        <p class="weui_btn_area">
											          <a href="javascript:history.go(-1);" class="weui_btn weui_btn_primary">确定</a>
											        </p>
											      </div>
											    </div>
											</#if>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='../common/ace/assets/js/jquery.js'>"+"<"+"/script>");
		</script>

		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='../common/ace/assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");
		</script>

		<script type="text/javascript">
		$(document.body).pullToRefresh().on("pull-to-refresh", function() {
		        setTimeout(function() {
		          var date = new Date();
		          $(document.body).pullToRefreshDone();
		          location.reload();
		        }, 1000);
	      });
	      
      	function openImg (obj) {
			var url = $(obj).css("src");
			$.photoBrowser({
				items: [url]
			}).open();
		};
		</script>
	</body>
</html>
