<!DOCTYPE html>
<html>
	<head>
		<title>我的订单</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/template/front/css/weui.min.css" />
		<link rel="stylesheet" href="/template/front/css/jquery-weui.css" />
		<link rel="stylesheet" href="/template/front/css/demos.css" /> 
		<script type="text/javascript" src="/template/front/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/template/front/js/jquery-weui.js"></script>
	</head>
	<body>
		
	</body>
	
	<script type="text/javascript">
		
	</script>
</html>