<!DOCTYPE html>
<html>
	<head>
		<title>我的订单</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/template/front/css/weui.min.css" />
		<link rel="stylesheet" href="/template/front/css/jquery-weui.css" />
		<link rel="stylesheet" href="/template/front/css/demos.css" /> 
		<script type="text/javascript" src="/template/front/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/template/front/js/jquery-weui.js"></script>
	</head>
	<body>
		<div class="weui-pull-to-refresh-layer">
	       <div class="pull-to-refresh-arrow"></div>
	       <div class="pull-to-refresh-preloader"></div>
	       <div class="down">下拉刷新</div>
	       <div class="up">释放刷新</div>
	       <div class="refresh">正在刷新</div>
	    </div>
		<div class="weui_cells_title">我的订单列表 　<span id="time"></span></div>
		<div class="weui_panel weui_panel_access">
			<div class="weui_panel_bd">
				<a href="/ordermark.jhtml" class="weui_media_box weui_media_appmsg">
					<div class="weui_panel_bd">
				        <div class="weui_media_box weui_media_text">
				          <h4 class="weui_media_title">标题一</h4>
				          <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
				          <ul class="weui_media_info">
				            <li class="weui_media_info_meta">文字来源</li>
				            <li class="weui_media_info_meta">时间</li>
				            <li class="weui_media_info_meta weui_media_info_meta_extra">点击评价</li>
				          </ul>
				        </div>
				      </div>
			      </a>
		      </div>
	      </div>
	</body>
	
	<script type="text/javascript">
	      $(document.body).pullToRefresh().on("pull-to-refresh", function() {
		        setTimeout(function() {
		          var date = new Date();
		          $("#time").text("更新时间 "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds());
		          $(document.body).pullToRefreshDone();
		        }, 1000);
	      });
	</script>
</html>