<!DOCTYPE html>
<html>
<head>
<title>鸿胜陶瓷</title>
<link href="/template/front/wxhome/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="/template/front/wxhome/js/jquery.min.js"></script>
<!--theme-style-->
<link href="/template/front/wxhome/css/style.css" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> 
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>

<script src="/template/front/wxhome/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/template/front/wxhome/js/move-top.js"></script>
<script type="text/javascript" src="/template/front/wxhome/js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!----start-top-nav-script---->

<script type="text/javascript" src="/template/front/wxhome/js/modernizr.custom.js"></script> 
<!--animate-->
<link href="/template/front/wxhome/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/template/front/wxhome/js/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->

  </head>
<body>
<!--header-->
<div class="header" id="home">
<div class="container">
		<div class="head">
			<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
						 <div class="navbar-brand logo wow fadeInLeft animated" data-wow-delay=".5s">
							<h1><a href="##">金<br>舵<br><span>瓷<br>砖</span><br>代<br>理</a></h1>	
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					 <ul class="nav navbar-nav wow fadeInDown animated" data-wow-delay=".5s">
					<li ><a href="#home" class=" scroll"><span data-hover="Home">首页</span></a> </li>
						<li ><a href="#about" class=" scroll"><span data-hover="About">活动</span> </a> </li>
						<li><a href="#gallery"  class="scroll"><span data-hover="Gallery">产品</span></a></li>
						<li><a href="#services" class="scroll"><span data-hover="Services">历程</span> </a></li>
						<li><a href="#events" class="scroll"><span data-hover="Events">品牌</span> </a></li>
						<li><a href="#team" class="scroll"><span data-hover="Team">团队</span> </a></li>
						<li><a href="#contact" class=" scroll"><span data-hover="Contact">联系我们</span></a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
				</nav>
				
		</div>
		<div class="banner">
		
		<section class="wrapper wow fadeInUp animated" data-wow-delay=".5s">
		  <h2 >百年品质 专业服务</h2>
		  <h3 class="sentence">Lorem Ipsum is
			<div class="popEffect">
			  <span> simply.</span>
			  <span>clean.</span>
			  <span>dummy.</span>
			  <span>text.</span>

			</div>
		  </h3>
		</section>
	<a href="single.html" class="hvr-rectangle-out wow fadeInDown animated" data-wow-delay=".5s">更多</a>

		</div>
	</div>
</div>
<!--content-->
<div class="content">
	<div class="container">
		<div class="col-top" id="about">
			<h3>最新活动 </h3>
			<p>
				金舵瓷砖建立了完善的市场体系和渠道模式，以创新的产品和专业的服务，构筑了强大的销售网络，金舵品牌专卖店遍布全国各地。为了更好地迎接新一轮全球化的挑战，2016年金舵瓷砖将紧紧围绕“厉兵秣马，铸鼎2016”的营销战略转型思想，确立“职业化、全员营销、贴近终端、产品市场化”为全年品牌发展战略，同时，融合“互联网+”概念，运用多种设计工具，打造可移动的第三方平台，为用户提供有价值的服务。金舵瓷砖以实际行动创造国际高品质陶瓷，为广大用户提供更优质的产品和更卓越的服务。
			</p>
		</div>
		<!---->
			<div class="tab-head">
			 <nav class="col-md-6 nav-sidebar wow fadeInLeft animated" data-wow-delay=".5s">
				<ul class="nav tabs">
		          <li class="active"><a href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>金舵产品理念</a></li>
		          <li class=""><a href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>金舵管理理念</a></li> 
		          <li class=""><a href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>金舵市场理念</a></li>  
		          <li class=""><a href="#tab4" data-toggle="tab"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span>金舵团队理念</a></li>
		          <li class=""><a href="#tab5" data-toggle="tab"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>金舵品牌精神</a></li> 
				</ul>
			</nav>
		<div class="col-md-6 tab-content wow fadeInRight animated" data-wow-delay=".5s"">
			<div class="tab-pane active text-style" id="tab1">
 				<div class="facts">
 					<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
 					<h4>质量是金、技术是舵</h4>
					 <p>质量是金、技术是舵</p>
				 </div>
			</div>
			<div class="tab-pane  text-style" id="tab2">
 				<div class="facts">
 					<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
 					<h4>细节是金、结果是舵</h4>
					 <p>细节是金、结果是舵</p>
				 </div>
			</div>
			<div class="tab-pane  text-style" id="tab3">
 				<div class="facts">
 					<span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>
 					<h4>顾客是金、市场是舵</h4>
					 <p>顾客是金、市场是舵</p>
				 </div>
			</div>
			<div class="tab-pane text-style" id="tab4">
 				<div class="facts">
 					<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
 					<h4>情义是金、思想是舵</h4>
					 <p>情义是金、思想是舵</p>
				 </div>
			</div>
			<div class="tab-pane  text-style" id="tab5">
 				<div class="facts">
 					<span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
 					<h4>竞争意识、开创意识</h4>
					 <p>竞争意识、开创意识</p>
				 </div>
			</div>
  		</div>
  <div class="clearfix"></div>
 	 </div>
	 </div>
	 <!---->
	 <div class="portfolio" id="gallery">
		<div class="col-top" ><h3>最新产品 </h3></div>
		  <div class="portfolio-top wow fadeInUp animated" data-wow-delay=".5s"">
		  	<@xy_product_list page=1 count=6 name=''>
			  	<#list res.rows as l>
				<div class="col-md-3 grid grid-wi slideanim">
					<figure class="effect-jazz">
					<a href="#portfolioModal${l_index}"  data-toggle="modal">
	
						<img src="${l.img}" alt="img25" class="img-responsive"/>
							<figcaption>
								<h4 class="effcet-text"> ${l.name}</h4>
								<p> ${l.descript}</p>							
							</figcaption>	
						</a>						
					</figure>
				</div>
				</#list>
			</@xy_product_list>
			<div class="clearfix"></div>
		 </div>
	</div>
	<!---->
<!-- Portfolio Modals -->
<@xy_product_list page=1 count=6 name=''>
	<#list res.rows as l>
		<div class="portfolio-modal modal fade slideanim" id="portfolioModal${l_index}" tabindex="-1" role="dialog" aria-hidden="true">
		    <div class="modal-content">
		        <div class="close-modal" data-dismiss="modal">
		            <div class="lr">
		                <div class="rl"></div>
		            </div>
		        </div>
		        <div class="container">
	                <div class="col-lg-8 col-lg-offset-2">
	                    <div class="modal-body">
	                        <h3>${l.name}</h3>
	                        <img src="${l.img}" class="img-responsive" alt="">
	                        <p>${l.content}</p>
	                    </div>
	                </div>
		        </div>
		    </div>
		</div>
	</#list>
</@xy_product_list>
<!-- /Portfolio Modals -->


	 <!---->
		<div class="container">
			<div class="services" id="services">
			<h3>企业介绍</h3>
			<div class="ser-grid ">
			<@xy_info markcode='INFO' >
			<div class="col-md-4 ser-top wow fadeInLeft animated" data-wow-delay=".5s">
				<h5>${res.name}</h5>
				<p>${res.discript}</p>
					<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			</div>
			</@xy_info>
			<@xy_info markcode='PRORESS' >
			<div class="col-md-4 ser-top wow fadeInUp animated" data-wow-delay=".5s">
				<h5>${res.name}</h5>
				<p>${res.content}</p>
					<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
			</div>
			</@xy_info>
			<@xy_info markcode='GROWING' >
			<div class="col-md-4 ser-top wow fadeInRight animated" data-wow-delay=".5s">
				<h5>${res.name}</h5>
				<p>${res.discript}</p>
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
			</div>
			</@xy_info>
			<div class="clearfix"></div>
			</div>
		</div>
		</div>
			<!---->	
	<div class="event" id="events">
	<div class="container">
		
		<div class="top-event">
			<h3>装修图库 </h3>
			<p>We committed to creating a large modern international ceramics group for urban residents to provide personal service Humanity home space</p>
		</div>
		<@xy_productclass_list page=1 count=20>
		<div class="event-grid ">
<!-- 			<div class="event-left wow fadeInLeft animated" data-wow-delay=".5s">
				<a href="single.html"><img src="/template/front/wxhome/images/pc.jpg" class="img-responsive" alt=""></a>
				<div class="event-top">
					<div class="event-gr">
						<h4><a href="single.html">Contrary to popular belief</a> </h4>
						<p> There are many variations of passages of Lorem Ipsum available, but the majority have suffered</p>
					</div>
				</div>
			</div> -->
			<#list res.rows as l >
			<div class="event-right wow fadeInRight animated" data-wow-delay=".5s">
				<a href="single.html"><img src="${l.img}" class="img-responsive" alt=""></a>
				<div class="event-top event-top1">
					<div class="event-gr">
						<h4><a href="single.html">${l.name}</a> </h4>
						<p> ${l.name}</p>
					</div>                                     
				</div>
			</div>
			<div class="clearfix"></div>
			</#list>
		</div>
		</@xy_productclass_list >
		</div>
		</div>
		<!---->
		<div class="test">
			<div class="container">
				<h3>Testimonials</h3>
				<div class="test-top">
					<div class="col-md-6 test-top1 test-to wow fadeInUp animated" data-wow-delay=".5s">
						<div class=" test-top2">
							<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
							<img src="/template/front/wxhome/images/qu.png" alt="">
							<div class="clearfix"> </div>
						</div>
						<div class="test-top3">
						<img src="/template/front/wxhome/images/th.jpg" class="img-responsive" alt="">
							<h6> The standard chunk of Lorem</h6>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-6 test-top1 wow fadeInDown animated" data-wow-delay=".5s">
						<div class=" test-top2">
							<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
							<img src="/template/front/wxhome/images/qu.png" alt="">
							<div class="clearfix"> </div>
						</div>
						<div class=" test-top3">
						<img src="/template/front/wxhome/images/th1.jpg" class="img-responsive" alt="">
							<h6> The great explorer of the trut</h6>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!---->
		<div class="advantage" >
			 <div class="container">
				 <div class="advantage-top" >
				 <h3>Our Advantages</h3>
				 <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</div>
			<div class="ad-top">
			<div class="col-md-4 wel wow fadeInLeft animated" data-wow-delay=".5s">
				<div class="content-ic">
					<i class="glyphicon glyphicon-file"></i>
				</div>	
				<div class="content-text">
					<h5>Certification </h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel wow fadeInUp animated" data-wow-delay=".5s">
				<div class="content-ic">
					<i class="glyphicon glyphicon-tag"></i>
				</div>	
				<div class="content-text">
					<h5>Best Prices </h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-4 wel wow fadeInRight animated" data-wow-delay=".5s">
				<div class="content-ic">
					<i class="glyphicon glyphicon-earphone"></i>
				</div>	
				<div class="content-text">
					<h5>24/7 Support </h5>
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
</div>
			 </div>
			 <!---->
			 <div class="our-team" id="team">
		 <div class="container">			
				 <h3>Our Team</h3>
			 <div class="team">
				<div class="col-md-6 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 col-1 ">
						<img class="img-responsive gray" src="/template/front/wxhome/images/te.jpg" alt="">
					 </div>
					 <div class="col-md-7 col-1-at">
						<h5><a href="single.html">Victoria</a></h5>
						<ul class="social-in">
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i class="icon"> </i></a></li>
								<li><a href="#"><i class="icon1"> </i></a></li>	
							</ul>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney.</p>	
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
				<div class="col-md-6 team-grid wow fadeInRight animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 col-1">
						<img class="img-responsive gray" src="/template/front/wxhome/images/te1.jpg" alt="">
					 </div>
					 <div class="col-md-7 col-1-at">
						<h5><a href="single.html">Patrick</a></h5>
						<ul class="social-in">
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i class="icon"> </i></a></li>
								<li><a href="#"><i class="icon1"> </i></a></li>	
							</ul>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney.</p>	
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
				
				 <div class="clearfix"> </div>
			 </div>
			  <div class="team">
				<div class="col-md-6 team-grid wow fadeInRight animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 col-1">
						<img class="img-responsive gray" src="/template/front/wxhome/images/te3.jpg" alt="">
					 </div>
					 <div class="col-md-7 col-1-at">
						<h5><a href="single.html">William</a></h5>
						<ul class="social-in">
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i class="icon"> </i></a></li>
								<li><a href="#"><i class="icon1"> </i></a></li>	
							</ul>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney.</p>	
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
				<div class="col-md-6 team-grid wow fadeInLeft animated" data-wow-delay=".5s">
					 <div class="team-1">
					 <div class="col-md-5 col-1 ">
						<img class="img-responsive gray" src="/template/front/wxhome/images/te2.jpg" alt="">
					 </div>
					 <div class="col-md-7 col-1-at">
						<h5><a href="single.html">Federica</a></h5>
						<ul class="social-in">
								<li><a href="#"><i> </i></a></li>
								<li><a href="#"><i class="icon"> </i></a></li>
								<li><a href="#"><i class="icon1"> </i></a></li>	
							</ul>
						<p>Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney.</p>	
					 </div>
				<div class="clearfix"> </div>
				</div>
				</div>
				
				 <div class="clearfix"> </div>
			 </div>
		</div>
	</div>
		<!---->
		<div class="clients" >
			 <div class="container">
				<h3>What our client thinks about us </span></h3>
				<!---->
				 <!-- requried-jsfiles-for owl -->
				 <link href="/template/front/wxhome/css/owl.carousel.css" rel="stylesheet">
							    <script src="/template/front/wxhome/js/owl.carousel.js"></script>
							        <script>
									    $(document).ready(function() {
									      $("#owl-demo1").owlCarousel({
									        items : 1,
									        lazyLoad : true,
									        autoPlay : true,
									        navigation : true,
									        navigationText :  true,
									        pagination : false,
									      });
									    });
									  </script>
							 <!-- //requried-jsfiles-for owl -->
							 <!-- start content_slider -->
						       <div id="owl-demo1" class="owl-carousel wow fadeInDown animated" data-wow-delay=".5s">
							   <div class="item-bottom">
					                <div class="item-right">
									<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnaaliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit e</p>
										<span>Dean Martin</span>
									</div>
								</div>
								<div class="item-bottom">
					                <div class="item-right">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnaaliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit e</p>
										<span>Dean Martin</span>
									</div>
								</div>
								<div class="item-bottom">
					                <div class="item-right">
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magnaaliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit e</p>
										<span>Dean Martin</span>
									</div>
								</div>					
									
								</div>
				</div>	
			</div>

			<!---->

		<!---->
	</div>
	<!--contact--->
	<div class="contact" id="contact">

		<div class="col-md-6 contact-form wow fadeInRight animated" data-wow-delay=".5s">
			<h3>联系我们</h3>
		<div class="col-md-6 contact-top">
			<form>				
					<input type="text" placeholder="您的名称" required="" >								
					<input type="text" placeholder="您的邮箱" required="" >							
					<input type="text" placeholder="项目" required="" >			
					<textarea placeholder="您的留言" required=""></textarea>	
				<label class="hvr-rectangle-out">
						<input type="submit" value="发送" >
				</label>		
			</form>						
		</div>
		
		<div class="col-md-6 contact-left">
						
			
		<div class="address">
			<div class=" address-grid">
					<i class="glyphicon glyphicon-map-marker"></i>
					<div class="address1">
						<h6>地址</h6>
						<p>肇庆市端州区桥北路东侧（即鸿景锦园侧）第7幢01-02卡</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class=" address-grid ">
					<i class="glyphicon glyphicon-phone"></i>
					<div class="address1">
					<h6>电话:</h6>
						<p>0758-2839292</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class=" address-grid ">
					<i class="glyphicon glyphicon-envelope"></i>
					<div class="address1">
					<h6>邮箱:</h6>
						<p><a href="mailto:info@example.com"> 13602973782@163.com</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
		</div>
				</div>
		<div class="clearfix"></div>
	
		</div>
		<div class="clearfix"></div>
	</div>


</div>
<!--//content-->
<!--//footer-->
	<div class="footer">

				<div class="container">
				<ul class="social">
						<li><a href="#"><i></i></a></li>
						<li><a href="#"><i class="ic1"></i></a></li>
						<li><a href="#"><i class="ic2"></i></a></li>
						
					</ul>
					<p class="footer-class">Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="##"></a></p>

			</div>
		
		</div>
		<!--//footer-->
 <script type="text/javascript">
	$(document).ready(function() {
		location.href = "#${anchor}";
		/*
		var defaults = {
  			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear' 
 		};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });
		
	});
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

</body>
</html>