<!DOCTYPE html>
<html>
<head>
<title>装修图库</title>
<link href="/template/front/wxhome/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="/template/front/wxhome/js/jquery.min.js"></script>
<!--theme-style-->
<link href="/template/front/wxhome/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="stylesheet" href="/template/front/css/weui.min.css" />
		<link rel="stylesheet" href="/template/front/css/jquery-weui.css" />
		<link rel="stylesheet" href="/template/front/css/demos.css" /> 	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<script type="text/javascript" src="/template/front/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/template/front/js/jquery-weui.js"></script>
		<script type="text/javascript" src="/template/front/js/swiper.js"></script>
<script src="/template/front/wxhome/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/template/front/wxhome/js/move-top.js"></script>
<script type="text/javascript" src="/template/front/wxhome/js/easing.js"></script>
<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>
					<!----start-top-nav-script---->

		<script type="text/javascript" src="/template/front/wxhome/js/modernizr.custom.js"></script> 
<!---- animated-css ---->
<link href="/template/front/wxhome/css/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="/template/front/wxhome/js/wow.min.js"></script>
		<script>
			 new WOW().init();
		</script>
<!---- animated-css ---->
  </head>
<body>
<!--header-->
<div class="header header-head" id="home">
<div class="container">
		<div class="head">
			<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
						 <div class="navbar-brand logo wow fadeInLeft animated" data-wow-delay=".5s">
							<h1><a href="##">金<br>舵<br><span>瓷<br>砖</span><br>代<br>理</a></h1>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					 <ul class="nav navbar-nav wow fadeInDown animated" data-wow-delay=".5s">
					<li ><a href="/wxhome.jhtml?anchor="><span data-hover="Home">首页</span></a> </li>
						<li ><a href="/wxhome.jhtml?anchor=about"><span data-hover="About">活动</span> </a> </li>
						<li><a href="/wxhome.jhtml?anchor=gallery"><span data-hover="Gallery">产品</span></a></li>
						<li><a href="/wxhome.jhtml?anchor=services" ><span data-hover="Services">历程</span> </a></li>
						<li><a href="/wxhome.jhtml?anchor=events" ><span data-hover="Events">品牌</span> </a></li>
						<li><a href="/wxhome.jhtml?anchor=team" ><span data-hover="Team">团队</span> </a></li>
						<li><a href="/wxhome.jhtml?anchor=contact" ><span data-hover="Contact">联系我们</span></a></li>
					  </ul>
					</div><!-- /.navbar-collapse -->
				</nav>
				
		</div>
		
	</div>
</div>
<!--content-->
<!--content-->
<div class="single">
	<div class="container">
		<@xy_dynamic_list table="product" where="productClass='${anchor}'" page=1 count=10>
		<#list res.rows as l>
		<#if l_index==0>
		<div class="single-top">
				<img class="img-responsive wow fadeInUp animated" data-wow-delay=".5s" src="${l.img}" alt="" onclick="openImgs();"/>
				<div class="lone-line">
					<h4>${l.name}</h4>
						<ul class="grid-blog">
							<li><span><i class="glyphicon glyphicon-time"> </i>${l.createDate?datetime}</span></li>
							<li><a href="javascript:openImgs();"><i class="glyphicon glyphicon-comment"> </i>${res.rows?size} 张</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-share"> </i>分享</a></li>
						</ul>
						<p class="wow fadeInLeft animated" data-wow-delay=".5s">
							${l.descript}
							<span>${l.content}</span>
						</p>
				</div>
		</div>
		</#if>
		</#list>
		</@xy_dynamic_list>
	</div>		
</div>
<!---->

<!--//content-->
<!--//footer-->
	<div class="footer">
		<div class="container">
			<ul class="social">
				<li><a href="#"><i></i></a></li>
				<li><a href="#"><i class="ic1"></i></a></li>
				<li><a href="#"><i class="ic2"></i></a></li>
			</ul>
			<p class="footer-class">Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/"></a></p>
		</div>
	</div>
		<!--//footer-->
 		<script type="text/javascript">
				/*
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				*/
				$().UItoTop({ easingType: 'easeOutQuart' });
				
				var items = [];
				<@xy_dynamic_list table="product" where="productClass='${anchor}'" page=1 count=10>
					<#list res.rows as l>
						items.push({image: "${l.img}", caption: "（${l.name}）${l.content}"})
					</#list>
				</@xy_dynamic_list>
				
				var photoBrowser = $.photoBrowser({
			        items: items,
			        initIndex: 2
		        });
		      
			  function openImgs () {
		      	 photoBrowser.open();
		      }
		</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</body>
</html>