<!DOCTYPE html>
<html lang="en">
	<head>
		<title>I校 - 欢迎页</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<link rel="stylesheet" href="../common/ace/assets/css/pace.css" />
		<script data-pace-options='{ "ajax": true, "document": true, "eventLag": false, "elements": false }' src="../common/ace/assets/js/pace.js"></script>
		<link rel="stylesheet" href="../common/ace/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="../common/ace/assets/css/font-awesome.css" />
		<link rel="stylesheet" href="../common/ace/assets/css/ace-fonts.css" />
		<link rel="stylesheet" href="../common/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		<script src="../common/ace/assets/js/ace-extra.js"></script>
		
		<script type="text/javascript">window.jQuery || document.write("<script src='../common/ace/assets/js/jquery.js'>"+"<"+"/script>");</script>
		<script type="text/javascript">if('ontouchstart' in document.documentElement) document.write("<script src='../common/ace/assets/js/jquery.mobile.custom.js'>"+"<"+"/script>");</script>
		<script src="../common/ace/assets/js/bootstrap.js"></script>
		
		<style type="text/css">
	    * {font-family: 微软雅黑 ;}
		</style>
  </head>
  <body>
		<!-- 主体部份 -->
		<div class="main-content">
			<div class="main-content-inner">
				<!-- 右边头部导航 -->
				<div class="breadcrumbs" id="breadcrumbs">
					<script type="text/javascript">
						try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					</script>

					<ul class="breadcrumb">
 							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">欢迎页</a>
							</li>
					</ul>
					<div class="nav-search" id="nav-search">
						<form class="form-search">
							<span class="input-icon">
								<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
								<i class="ace-icon fa fa-search nav-search-icon"></i>
							</span>
						</form>
					</div>
				</div>
				
				
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
				  <tr>
				    <td valign="top" bgcolor="#F7F8F9"><table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
				      <tr>
				        <td colspan="2" valign="top">
				        	<span class="left_bt">感谢您使用</span><br>
				        </td>
				      </tr>
				      
				      <tr>
				        <td height="40" colspan="4"><table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
				          <tr>
				            <td></td>
				          </tr>
				        </table></td>
				      </tr>
				      <tr>
				        <td width="2%">&nbsp;</td>
				        <td width="51%" class="left_txt">&nbsp;&nbsp;客户邮箱：370064940@qq.com<br>
				              &nbsp;&nbsp;联系电话：13286525000</td>
				        <td>&nbsp;</td>
				        <td>&nbsp;</td>
				      </tr>
				    </table></td>
				  </tr>
				</table>
				
			</div>
		</div><!-- /.main-content -->
  </body>
   <script type="text/javascript">
     window.parent.window.document.getElementById("main").height = document.body.clientHeight;
  </script>
 	<!-- ace scripts -->
 	<script src="../common/ace/assets/js/fuelux/fuelux.tree.js"></script>
	<script src="../common/ace/assets/js/ace/elements.scroller.js"></script>
	<script src="../common/ace/assets/js/ace/elements.colorpicker.js"></script>
	<script src="../common/ace/assets/js/ace/elements.fileinput.js"></script>
	<script src="../common/ace/assets/js/ace/elements.typeahead.js"></script>
	<script src="../common/ace/assets/js/ace/elements.wysiwyg.js"></script>
	<script src="../common/ace/assets/js/ace/elements.spinner.js"></script>
	<script src="../common/ace/assets/js/ace/elements.treeview.js"></script>
	<script src="../common/ace/assets/js/ace/elements.wizard.js"></script>
	<script src="../common/ace/assets/js/ace/elements.aside.js"></script>
	<script src="../common/ace/assets/js/ace/ace.js"></script>
	<script src="../common/ace/assets/js/ace/ace.ajax-content.js"></script>
	<script src="../common/ace/assets/js/ace/ace.touch-drag.js"></script>
	<script src="../common/ace/assets/js/ace/ace.sidebar.js"></script>
	<script src="../common/ace/assets/js/ace/ace.sidebar-scroll-1.js"></script>
	<script src="../common/ace/assets/js/ace/ace.submenu-hover.js"></script>
	<script src="../common/ace/assets/js/ace/ace.widget-box.js"></script>
	<script src="../common/ace/assets/js/ace/ace.settings.js"></script>
	<script src="../common/ace/assets/js/ace/ace.settings-rtl.js"></script>
	<script src="../common/ace/assets/js/ace/ace.settings-skin.js"></script>
	<script src="../common/ace/assets/js/ace/ace.widget-on-reload.js"></script>
	<script src="../common/ace/assets/js/ace/ace.searchbox-autocomplete.js"></script>
</html>
