<!DOCTYPE html>
<html>
	<head>
		<title>个人中心</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/template/front/css/weui.min.css" />
		<link rel="stylesheet" href="/template/front/css/jquery-weui.css" />
		<link rel="stylesheet" href="/template/front/css/demos.css" /> 
		<script type="text/javascript" src="/template/front/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/template/front/js/jquery-weui.js"></script>
		<style type="text/css">
				.clear{clear:both;}
				.banner {
				    background: url(../template/front/wxcenter/image/banner.jpg)no-repeat 0px 0px;
				    background-size: cover;
				}
				.banner-text {
				    padding: 1em 0.5em 1em 1em;
				}
				.title {
				    margin: 1.5em 0 1em;
				}
				.title-left {
				    float: left;
				    width: 30%;
				}
				.title-left  img {
				    border-radius: 50%;
				}
				.title-right {
				    float: left;
				    width: 62%;
				    margin-left: 1.5em;
				}
				.title-right h2 {
				    font-size: 1.6em;
				    color: #fff;
				    margin-top: 0.6em;
				}
				.title-right h6 {
				    font-size: 1em;
				    color: #68d3ff;
				    margin-top: 0.5em;
				}
		</style>
	</head>
	<body>
		<div class="banner">
			<div class="banner-text">
				<div class="title">
					<div class="title-left">
						<img src="<#if user??>${user.headimgurl}<#else>../template/front/wxcenter/image/defaultface.png</#if>" alt="" width="100px"/>
					</div>
					<div class="title-right">
						<h2><#if user??>${user.nickname}<#else>未登陆</#if></h2>
						<h6><#if user??><#if user.sex==2>女<#else>男</#if><#else>未知</#if></h6>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
		</div>
		<div class="weui_grids">
		  <a href="javascript:editPhone('输入你的电话号码查询', true, '/orderlist.jhtml');" class="weui_grid js_grid" data-id="button">
		    <div class="weui_grid_icon">
		      <img src="/template/front/wxcenter/image/order.png" alt="">
		    </div>
		    <p class="weui_grid_label">我的订单</p>
		  </a>
		  <a href="javascript:editPhone('输入你的电话号码查询', true, '/mymark.jhtml');" class="weui_grid js_grid" data-id="cell">
		    <div class="weui_grid_icon">
		      <img src="/template/front/wxcenter/image/evaluate.png" alt="">
		    </div>
		    <p class="weui_grid_label">我的评价</p>
		  </a>
		  <a href="javascript:;" class="weui_grid js_grid" data-id="toast">
		    <div class="weui_grid_icon">
		      <img src="/template/front/wxcenter/image/more.png" alt="">
		    </div>
		    <p class="weui_grid_label">更多</p>
		  </a>
		</div>
		
		<div class="weui_cells weui_cells_access">
			 <a class="weui_cell" href="javascript:editPhone('修改电话号码', false, '');">
               <div class="weui_cell_hd"><img src="/template/front/wxcenter/image/phone.png"></div>
               <div class="weui_cell_bd weui_cell_primary">
                  <p>电话：<#if user??>${user.phone}<#else>还没有完善</#if></p>
               </div>
               <span class="weui_cell_ft"></span>
            </a>
            <a class="weui_cell" href="javascript:;">
              <div class="weui_cell_hd"><img src="/template/front/wxcenter/image/address.png"></div>
                   收货地址：
              <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" id="address" type="text" value="广东省 肇庆市 端州区" readonly="">
              </div>
              <span class="weui_cell_ft"></span>
            </a>
            <a class="weui_cell" href="javascript:editAddress();">
               <div class="weui_cell_hd"><img src="/template/front/wxcenter/image/phone.png"></div>
               <div class="weui_cell_bd weui_cell_primary">
                  <p>街道门牌：<#if user??>${user.address}<#else>还没有完善</#if></p>
               </div>
               <span class="weui_cell_ft"></span>
            </a>
	    </div>
	    
	</body>
	<script type="text/javascript" src="/template/front/js/city-picker.js"></script>
	<script type="text/javascript">
	      $("#address").cityPicker({
		        title: "选择省市区",
		        onChange: function (picker, values, displayValues) {
		           //console.log(values, displayValues);
		           var address = "";
		           for(var i=0;i<displayValues.length;i++) {
		           		address += " "+displayValues[i]
		           }
		           $("#address").text("收货地址：");
		           $("#address").append(address);
		        }
	      });
	      
	      function editPhone(title, tag, url) {
	        var address = '<#if user??>${user.address}</#if>';
 	        var wxUser = '<#if user??>${user.id}</#if>';
	        var phone = '<#if user??>${user.phone}</#if>';
	        var reg = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/;
	        if(phone === "") {
		      	$.prompt({
					  title: title,
					  text: '请输入11位手机号码',
					  input: phone,
					  empty: false, // 是否允许为空
					  onOK: function (input) {
					  	if(tag) {
					  		location.href = url+"?wxUser="+wxUser+"&phone="+input;
					  	}else{
					  		//修改电话号码
					  		$.ajax({
			            		url: "/updateUser.ajx",
			            		async: false,
			            		data: {address: address, wxUser: wxUser, phone: phone},
			            		success: function(datas) {
			            			var data = eval("("+datas+")");
									if(data.success) location.href = "/entry.jhtml";
			            		}
			            	});
					  	} 
					  },
					  onCancel: function () {
					    //点击取消
					  }
				});
			}else {
				location.href = url+"?wxUser="+wxUser+"&phone="+input;
			}
	      };
	      
	      function editAddress() {
	      	var address = $("#address").val()+"||"+'<#if user??>${user.address}</#if>';
 	        var wxUser = '<#if user??>${user.id}</#if>';
	        var phone = '<#if user??>${user.phone}</#if>';
	      	$.prompt({
				  title: '修改详细地址',
				  text: '请输入街道或门牌号',
				  input: '<#if user??>${user.address}</#if>',
				  empty: false, // 是否允许为空
				  onOK: function (input) {
				    //点击确认
		    		$.ajax({
	            		url: "/updateUser.ajx",
	            		async: false,
	            		data: {address: address+input, wxUser: wxUser, phone: phone},
	            		success: function(datas) {
	            			var data = eval("("+datas+")");
							if(data.success) location.href = "/entry.jhtml";
	            		}
	            	});
				  },
				  onCancel: function () {
				    //点击取消
				  }
			});
	      } 
	</script>
</html>