<!DOCTYPE html>
<html>
	<head>
		<title>个人中心</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/template/front/css/weui.min.css" />
		<link rel="stylesheet" href="/template/front/css/jquery-weui.css" />
		<link rel="stylesheet" href="/template/front/css/demos.css" /> 
		<script type="text/javascript" src="/template/front/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/template/front/js/jquery-weui.js"></script>
	</head>
	<body>
		<div class="weui_grids">
		  <a href="javascript:;" class="weui_grid js_grid" data-id="button">
		    <div class="weui_grid_icon">
		      <img src="/template/front/wxcenter/image/order.png" alt="">
		    </div>
		    <p class="weui_grid_label">我的订单</p>
		  </a>
		  <a href="javascript:;" class="weui_grid js_grid" data-id="cell">
		    <div class="weui_grid_icon">
		      <img src="/template/front/wxcenter/image/evaluate.png" alt="">
		    </div>
		    <p class="weui_grid_label">我的评价</p>
		  </a>
		  <a href="javascript:;" class="weui_grid js_grid" data-id="toast">
		    <div class="weui_grid_icon">
		      <img src="/template/front/wxcenter/image/more.png" alt="">
		    </div>
		    <p class="weui_grid_label">更多</p>
		  </a>
		</div>
		
		<div class="weui_panel">
	      <div class="weui_panel_hd"></div>
	      <div class="weui_panel_bd">
	        <div class="weui_media_box weui_media_small_appmsg">
	          <div class="weui_cells weui_cells_access">
	            <a class="weui_cell" href="javascript:;">
	              <div class="weui_cell_hd"><img src="/template/front/wxcenter/image/phone.png"></div>
	              <div class="weui_cell_bd weui_cell_primary">
	                <p>电话：</p>
	              </div>
	              <span class="weui_cell_ft"></span>
	            </a>
	            <a class="weui_cell" href="javascript:;">
	              <div class="weui_cell_hd"><img src="/template/front/wxcenter/image/address.png"></div>
	              <div class="weui_cell_bd weui_cell_primary">
	                <p>收货地址：</p>
	              </div>
	              <span class="weui_cell_ft"></span>
	            </a>
	          </div>
	        </div>
	      </div>
	    </div>
	</body>
	
	<script type="text/javascript">
		
	</script>
</html>